%tr
  %td= booking.customer.first_name
  %td= booking.customer.last_name
  %td= booking.customer.email
  %td= booking.reservation_date
  %td= booking.status
  %td
    = link_to admin_booking_path(booking), { title: t('shared.show') } do
      %button.btn.btn-default
        = fa_icon "search"
    = link_to edit_admin_booking_path(booking), { title: t('shared.edit') } do
      %button.btn.btn-default
        = fa_icon "edit"
    = link_to admin_booking_path(booking), { method: :delete, title: t('shared.delete') } do
      %button.btn.btn-default
        = fa_icon "times"
