= simple_form_for [:admin, booking] do |f|
  = f.error_notification
  = f.input :number, class: 'form-control', readonly: true, required: false if defined?(edit) && edit
  = f.input :date
  = f.association :user, collection: User.all, prompt: "Select user"
  = f.association :table, collection: Table.all, prompt: "Select table"
  = f.simple_fields_for :customer do | c |
    = c.input :first_name
    = c.input :last_name
    = c.input :email
  = f.button :submit
  = link_to t('shared.back'), :back, class: 'btn btn-link'

