%table.table.table-striped
  %thead
    %tr
      %th= t('booking.columns.first_name')
      %th= t('booking.columns.last_name')
      %th= t('booking.columns.email')
      %th= t('booking.columns.date')
      %th= t('booking.columns.status')
      %th= t('shared.actions')
  %tbody
    = render bookings
