%h3 Bookings
.row
  .col-md-6
    = link_to 'New Booking', new_admin_booking_path, class: 'btn btn-default'
  .col-md-6
    .btn-group.pull-right
      = link_to 'All', admin_bookings_path, class: 'btn btn-default'
      = link_to 'Pending', admin_bookings_path(status: Booking.statuses[:pending]), class: 'btn btn-warning'
      = link_to 'Accepted', admin_bookings_path(status: Booking.statuses[:accepted]), class: 'btn btn-success'
      = link_to 'Rejected', admin_bookings_path(status: Booking.statuses[:rejected]), class: 'btn btn-danger'
.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th= t('booking.columns.first_name')
          %th= t('booking.columns.last_name')
          %th= t('booking.columns.email')
          %th= t('booking.columns.date')
          %th= t('booking.columns.status')
          %th= "User"
          %th= "Table"
          %th= t('shared.actions')
      %tbody
        = render bookings


