%tr
  %td= booking.number
  %td= booking.customer_first_name
  %td= booking.customer_last_name
  %td= booking.customer_email
  %td= booking.reservation_date
  %td= booking.status
  %td
    = link_to booking, { title: t('shared.show') } do
      %button.btn.btn-default
        = fa_icon "search"
