%table.table.table-condensed
  %tbody
    %tr
      %td= t('booking.columns.first_name')
      %td= booking.customer.first_name
    %tr
      %td= t('booking.columns.last_name')
      %td= booking.customer.last_name
    %tr
      %td= t('booking.columns.date')
      %td= booking.date
