%table.table.table-condensed
  %tbody
    %tr
      %th= 'Id'
      %td= order.id
    %tr
      %th= 'Waiter'
      %td= order.user.name
    %tr
      %th= 'Table'
      %td= order.table
    %tr
      %th= 'Date of creation'
      %td= order.created_at

<br />

%table.table.table-condensed
  %thead
    %tr
      %th= 'Name'
      %th= 'Net price'
      %th= 'Gross price'
      %th= 'Count'
  %tbody
    - order.dishes_orders.each do |d|
      %tr
        %td= d.dish.name
        %td= d.dish.decorate.net_price_with_currency
        %td= d.dish.decorate.price_with_currency
        %td= d.count

<br />
%table.table.table-condensed
  %tbody
    %tr
      %th= 'Net sum'
      %td= number_to_currency(order.dishes_orders.inject(0.0) { |sum, o| sum + o.dish.net_price}, precision: 2)
    %tr
      %th= 'Gross sum'
      %td= number_to_currency(order.dishes_orders.inject(0.0) { |sum, o| sum + o.dish.price}, precision: 2)

