%table.table.table-condensed
  %tbody
    %tr
      %th= 'Id'
      %td= order.id
    %tr
      %th= 'Waiter'
      %td= order.user.name
    %tr
      %th= 'Table'
      %td= order.table
    %tr
      %th= 'Date of creation'
      %td= order.created_at

<br />

%table.table.table-condensed
  %thead
    %tr
      %th= 'Name'
      %th= 'Net price'
      %th= 'Gross price'
  %tbody
    - order.dishes.each do |d|
      %tr
        %td= d.name
        %td= d.net_price
        %td= d.price

<br />
%table.table.table-condensed
  %tbody
    %tr
      %th= 'Netto sum'
      %td= sprintf("%.2f", order.dishes.inject(0.0) { |sum, o| sum + o.net_price})
    %tr
      %th= 'Gross sum'
      %td= sprintf("%.2f", order.dishes.inject(0.0) { |sum, o| sum + o.price})

