%table.table.table-condensed
  %tbody
    %tr
      %td= 'Id'
      %td= order.id
    %tr
      %td= 'Waiter'
      %td= order.user.name
    %tr
      %td= 'Table'
      %td= order.table
    %tr
      %td= 'Table location'
      %td= order.table.location

= link_to 'Back', orders_path, class: 'btn btn-default'

%table.table.table-condensed
  %thead
    %tr
      %th= 'Name'
      %th= 'Weight'
      %th= 'Price'
      %th= 'Count'
  %tbody
    - order.dishes_orders.each do |d|
      %tr
        %th= d.dish.name
        %th= d.dish.weight
        %th= d.dish.price
        %th= d.count

%table.table.table-condensed
  %thead
    %tr
      %th= 'Name'
      %th= 'Weight'
      %th= 'Price'
  %tbody
    = render 'add_dish_form'
