%table.table.table-condensed
  %tbody
    %tr
      %td= 'Name'
      %td= dish.name
    %tr
      %td= 'Weight'
      %td= dish.weight
    %tr
      %td= 'Vat'
      %td= dish.vat
    %tr
      %td= 'Price'
      %td= dish.price

= link_to 'Back', dishes_path, class: 'btn btn-default'
