=link_to 'New Dish', new_dish_path, class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      %th= 'Name'
      %th= 'Weight'
      %th= 'Vat'
      %th= 'Net Price'
      %th= 'Price'
      %th= 'Actions'
  %tbody
    =render 'dishes'
