%table.table.table-striped
  %thead
    %th= t('table.columns.id')
    %th= t('table.columns.location')
    %th= t('table.columns.places')
    %th= t('table.columns.actions')
  %tbody
    = render tables
